<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<filter>
		<filter-name>UTF8Filter</filter-name>
		<filter-class>dev.bodewig.jpath.filter.test.UTF8Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UTF8Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>JPathFilter</filter-name>
		<filter-class>dev.bodewig.jpath.filter.JPathFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>JPathFilter</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>dev.bodewig.jpath.filter.test.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/no_filter</url-pattern>
	</servlet-mapping>
</web-app>